@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lilita+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #e53939;
    --cor-hover: #205375;

    --font-primaria: 'Krona One', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

*{
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: var(--font-primaria);
}

body, html{
    width: 100%;
    background-image: linear-gradient(to top, #161515, #000000);
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid red;
}

nav .menu, nav .logo{
    margin: auto 0;
}

nav .menu a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

nav .menu a:hover{
    color: rgba(255, 0, 0, 0.5);
    font-weight: bold;
}

main{
    width: 80%;
    margin: 0 auto;
}

.apresentacao{
    margin: 15px 0;
    text-align: center;
}

h1, h2{
    font-size: 1.3em;
    margin: 10px 0;
}

.apresentacao-sobre img{
    width: 200px;
    border: 2px solid red;
    border-radius: 50%;
}

strong{
    color: var(--cor-terciaria);
}

.apresentacao-sobre p:nth-of-type(1){
    margin: 10px auto;
    width: 75%;
    line-height: 1.1em;
}

.apresentacao-sobre p:nth-of-type(2){
    text-align: justify;
    padding: 0 2%;
    margin: 50px 0;
}

.minhas-redes{
    margin-bottom: 55px;
}

.minhas-redes img{
    width: 40px;
}

.minhas-redes a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

.tecnologias{
    margin-bottom: 100px;
}

.tecnologias img{
    width: 70px;
}

.apresentacao-gostos-pessoais p, .apresentacao-motivacoes p{
    margin: 50px 2%;
    text-align: justify;
    border: 1px solid red;
    padding: 2%;
}

footer{
    text-align: center;
    padding: 30px;
}

@media screen and (max-width: 885px) {
    nav{
        display: block;
        height: auto;
        text-align: center;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 600px){
    nav .menu a{
        display: none;
    }

    .minhas-redes a{
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }

    .apresentacao-sobre p:nth-of-type(1){
        width: 90%;
    }

    .apresentacao-gostos-pessoais p, .apresentacao-motivacoes p{
        text-align: left;
    }
}